@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Gilroy-Medium';
  src: local('Gilroy-Medium'), url(../src//assets/fonts/Gilroy-Medium.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'Gilroy-Medium', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}